<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".KelimeQuizApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelimeQuiz">
        <activity android:name=".ui.wordchain.WordChainActivity" />
        <activity android:name=".ui.wordle.WordleActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.word.WordPoolActivity" />
        <activity android:name=".ui.word.AddWordActivity" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.report.WeeklyReportActivity" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
